.liste label {
	font-size: 12px;
}
#page{
	display: flex;
	padding: 10px;
}
#volet{
	height: 70px;
	background-color: #2BA14B;
	border-top: solid 1px white;
}
#volet_menu{
	width: 100%;
	display: flex;
	align-items: center;
}
#volet_menu >div{
	flex: 1;
}
#volet_nom{
	width: 10%;
	text-align: center;
	display: flex;
	align-items: center;
}
#volet_deco{
	width: 10%;
	text-align: center;
	display: flex;
	align-items: center;
}
#volet > div >div{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}
#volet > div *{
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
}
#volet a {
	width: 100%;
	text-align: center;
}
#volet a p {
	width: 100%;
	display: flex;
	justify-content: center;
}
#volet > div >div:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.3);
	height: 100%;
}
#volet  a{
	color: white;
}
#volet  a:hover{
	color: rgb(70,73,76);
	text-decoration: none;
}
#volet p{
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	color: white;
}
#volet .glyphicon{
	padding: 8px;
}
#volet2{
	min-width: 295px;
	background-color: #F1F3F5;
}
#corps{
	padding-bottom: 0px;
	padding: 5px;
}
#post_planning{
}
.tableau{
	margin: auto;
}
.has-feedback{
	/*background-color: #E9EBEE; */	
	padding: 10px;
}
table {
    border-collapse: collapse;
    line-height: 1;
	overflow-x: scroll;
	background-color: white;
}
.hr1{
	border: solid 1px rgb(110,115,120);
	margin-right: 12%;
	margin-left: 12%;
	width: 76%;
}
#content_accueil{
	margin-right: 5%;
	margin-left: 5%;
	min-height: 500px;
	padding: 15px;
	font-size: 14px;
	background-color: #203721;
	color: white;
}
.section_accueil_1{
	border-radius: 4px;
	border: solid 1px rgb(205,210,215);
	background-color: #6BBA70;
	padding: 5px;
	margin: 10px;
	color: black;
}
.sous-section-accueil{
	border-radius: 4px;
	border: solid 1px rgb(205,210,215);
	background-color: white;
	padding: 5px;
	min-height: 100px;
}
#page_principale{
	margin: 0 15px;
	padding: 0 15px;
}
#content_tarif{
	margin: 15px 0;
	padding: 15px;
	display: flex;
}
#volet-tarif{
	margin-right: 15px;
	padding: 5px;
	min-width: 200px;
}
.grand {
	width: 100%;
}
#aide{
	width: 100%;
}
#aide:hover, #aide:focus {
	color: #eeeeee;
}
#aide span{
    padding: 2px;
}
#modal_aide{
	min-width: 0%;
	max-width: 100%;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}
#modal_aide .modal-dialog{
	width: auto;
}
#modal_aide .modal-header{
}
